@model IEnumerable<MvcPicashNetCore.Models.Route>

@{
    ViewData["Title"] = "Index";
}

<h1>Rutas</h1>

<p>
    <a asp-action="Create">Crear Nueva Ruta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebtCollector.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebtCollector.SurName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DebtCollector.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DebtCollector.SurName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RouteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RouteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RouteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
