@model IEnumerable<MvcPicashNetCore.Models.PaymentCommitment>

@{
    ViewData["Title"] = "Index";
}

<h1>Prestamos</h1>

<p>
    <a asp-action="Create">Crear Préstamo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestPercentage)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.InstalmentsAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentcommitmentStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstalmentsAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentcommitmentStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentCommitmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentCommitmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentCommitmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
