@model MvcPicashNetCore.Models.Installment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Installment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loan.LoanId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstallmentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstallmentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duedate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstallmentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstallmentStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InstallmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
