@model MvcPicashNetCore.Models.Installment

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Pago</h1>

<h4>
    @Html.DisplayNameFor(model => model.Duedate): 
    @Html.DisplayFor(model => model.Duedate)
    <p></p>
    @Html.DisplayNameFor(model => model.Loan.Customer.Name):
    @Html.DisplayFor(model => model.Loan.Customer.Name) @Html.DisplayFor(model => model.Loan.Customer.SurName)
     <p></p>
    @Html.DisplayNameFor(model => model.Amount):
     @Html.DisplayFor(model => model.Amount)
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InstallmentId" />
            <input type="hidden" asp-for="LoanId" />
            <input type="hidden" asp-for="Amount" />
            <input type="hidden" asp-for="InstallmentNumber" />
            <input type="hidden" asp-for="Duedate" />

            <div class="form-group">
                
                <!-- <label asp-for="PaymentAmount" class="control-label"></label>
                @Html.EditorFor(model => model.PaymentAmount) -->
                <!-- <p></p> -->
                <input asp-for="PaymentAmount" class="form-control" />
                <span asp-validation-for="PaymentAmount" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<!-- esto soluciona el problema de validacion al ingresar decimales en los pagos -->
<script type="text/javascript">
    $.validator.methods.number = function (value, element) {
        value = floatValue(value);
        return this.optional(element) || !isNaN(value);
    }
    $.validator.methods.range = function (value, element, param) {
        value = floatValue(value);
        return this.optional(element) || (value >= param[0] && value <= param[1]);
    }
 
    function floatValue(value) {
        return parseFloat(value.replace(",", "."));
    }  
</script>