@model IEnumerable<MvcPicashNetCore.Models.Installment>

@{
    ViewData["Title"] = "Index";
}

<h1>Cuotas</h1>

<p>
    <!-- <a asp-action="Create">Crear</a> -->
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstallmentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstallmentStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td contenteditable="true">
                @Html.DisplayFor(modelItem => item.PaymentAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstallmentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstallmentStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstallmentId">Editar</a>
                <!-- <a asp-action="Details" asp-route-id="@item.InstallmentId">Details</a> | -->
                <!-- <a asp-action="Delete" asp-route-id="@item.InstallmentId">Delete</a> -->
            </td>
        </tr>
}
    </tbody>
</table>
