@model MvcPicashNetCore.Models.Loan

@{
    ViewData["Title"] = "Crear";
}


            <legend>Crear Préstamo</legend>

<hr />

<div class="row">
    
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="TotalAmmount" class="control-label"></label>
                <input asp-for="TotalAmmount" class="form-control" />
                <span asp-validation-for="TotalAmmount" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            
            <div class="form-group">
                <label asp-for="LoanTypeId" class="control-label"></label>
                <select asp-for="LoanTypeId" class ="form-control" asp-items="ViewBag.LoanTypeId"></select>
            </div>
            <!-- <div class="form-group">
                <label asp-for="LoanStatus" class="control-label"></label>
                @Html.DropDownList(
                    "LoanStatus", @Html.GetEnumSelectList<MvcPicashNetCore.Models.LoanStatus>(),
                        "Seleccione estado",
                        new {@class = "form-control"}
                )

            </div> -->
            
            <div class="form-group">
                
                <input type="submit" value="Crear Prestamo" class="btn btn-danger" />
                <!-- @Html.ActionLink("Simulador", "Loans", "Simulation", null, new {miAtributo ="Valor1", @class = "btn btn-danger"}) -->
                
            </div>
        </form>

        <!-- <form asp-controller="Loans" asp-action="Simulate" method="get">
            <div class="form-group">
                <a class="btn btn-warning" asp-action="Simulation">Simular</a>
            </div>
        </form> -->
        
    </div>

        <div class="col-md-8">
            <div class="container">
                <div class="jumbotron">
                    
                    <div>
                        <h3>Datos del Préstamo</h3>
                        <hr />
                        <dl class="row">
                            <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.CreationDate)
                            </dt>
                            <dd class = "col-sm-8">
                                @Html.DisplayFor(model => model.CreationDate)
                            </dd>
                            <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.LoanStatus)
                            </dt>
                            <dd class = "col-sm-8">
                                @Html.DisplayFor(model => model.LoanStatus)
                            </dd>
                            <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.DateFrom)
                            </dt>
                            <dd class = "col-sm-8">
                                @Html.DisplayFor(model => model.DateFrom)
                            </dd>  
                            <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.DateTo)
                            </dt>
                            <dd class = "col-sm-8">
                                @Html.DisplayFor(model => model.DateTo)
                            </dd>                            
                             <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.TotalAmmount)
                            </dt>
                            <dd class = "col-sm-8">
                                @Html.DisplayFor(model => model.TotalAmmount)
                            </dd>  
                             <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.LoanType.InterestPercentage)
                            </dt>
                            <dd class = "col-sm-8">
                                @Html.DisplayFor(model => model.LoanType.InterestPercentage)
                            </dd>  
                            <dt class = "col-sm-4">
                                
                                A Cobrar 
                            </dt>
                            <dd class = "col-sm-8">
                                
                                @ViewBag.LoanTotalAmountWithInterest
                            </dd> 

                             <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.Customer.Name)
                            </dt>
                            <dd class = "col-sm-8">
                                @Html.DisplayFor(model => model.Customer.Name)
                            </dd>  
                             <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.LoanType.InstallmentsAmount)
                            </dt>
                            <dd class = "col-sm-8">
                                @Html.DisplayFor(model => model.LoanType.InstallmentsAmount)
                            </dd>                         
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="container">
                <div class="jumbotron">
                    <div>
                        <h3>Tabla de amortización</h3>
                        
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Cuota Nro.
                                    </th>
                                    
                                    <th>
                                        Monto a pagar
                                    </th>
                                   
                                    <th>
                                        Fecha de vencimiento
                                    </th>
                                
                                </tr>
                            </thead>
                            <tbody>
                            @{
                                if(ViewBag.MensajeCuotas != null)  
                                {  
                                    @foreach (var item in (List<MvcPicashNetCore.Models.Installment>) @ViewBag.MensajeCuotas) 
                                    {
                                        <tr>
                                            <td>
                                                @item.InstallmentNumber
                                            </td>
                                            
                                            <td>
                                                @String.Format("{0:C}", @item.Amount)
                                            </td>
                                            
                                            <td>
                                                @item.Duedate.ToString("dd/MM/yyyy")
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>        
    
</div>

<div>
    <a asp-action="Index">Volver al Listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
