@model MvcPicashNetCore.Models.Loan

@{
    ViewData["Title"] = "Details";
}

<h1>Cliente: @Html.DisplayFor(model => model.Customer.Name) @Html.DisplayFor(model => model.Customer.SurName)</h1>

<div>
    <h4>Detalle del préstamo</h4>
    <hr />



    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name) @Html.DisplayFor(model => model.Customer.SurName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanStatus)
        </dd>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanType.InterestPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanType.InterestPercentage)
        </dd>
        <dt class = "col-sm-2">       
            A Cobrar 
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.LoanTotalAmountWithInterest
        </dd> 
        <dt class = "col-sm-2">   
            @Html.DisplayNameFor(model => model.LoanType.InstallmentsAmount)
        </dt>
          <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanType.InstallmentsAmount)
        </dd> 

    </dl>
</div>


<div class="col-md-12">
            <div class="container">
                
                    <div>
                        <h3>Calendario</h3>
                        
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Cuota Nro.
                                    </th>
                                    <th>
                                        Estado de la cuota
                                    </th>
                                    <th>
                                        Monto a pagar
                                    </th>
                                   <th>
                                        Pagado
                                    </th>
                                    <th>
                                        Fecha de vencimiento
                                    </th>
                                
                                </tr>
                            </thead>
                            <tbody>
                            @{
                                if(Model.Installments != null)  
                                {  
                                    @foreach (var item in (List<MvcPicashNetCore.Models.Installment>) @Model.Installments) 
                                    {
                                        <tr>
                                            <td>
                                                @item.InstallmentNumber
                                            </td>
                                            <td>
                                                @item.InstallmentStatus
                                            </td>
                                            <td>
                                                @String.Format("{0:C}", @item.Amount)
                                            </td>
                                            <td>
                                                @String.Format("{0:C}", @item.PaymentAmount)
                                            </td>
                                            <td>
                                                @item.Duedate.ToString("dd/MM/yyyy")
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                
            </div>
        </div>    








<div>
    <a asp-action="Edit" asp-route-id="@Model.LoanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
