@model IEnumerable<MvcPicashNetCore.Models.Loan>

@{
    ViewData["Title"] = "Index";
}

<h1>Préstamos</h1>

<p>
    <a asp-action="Create">Crear Préstamo</a>
</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanType.InterestPercentage)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.LoanType.InstallmentsAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanType.InterestPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanType.InstallmentsAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoanId">Delete</a> |
                <a asp-action="PrintAsPdf" asp-route-id="@item.LoanId" target="blank">Print</a>
            </td>
        </tr>
}
    </tbody>
</table>
