@model MvcPicashNetCore.Models.Loan

@{
    ViewData["Title"] = "Calendario";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Crediflash</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1>
    Cliente: @Html.DisplayFor(model => model.Customer.Name) @Html.DisplayFor(model => model.Customer.SurName)
</h1>

<div>
    
    <h4>Fecha de impresión del Calendario: @DateTime.Now.ToString("dd/MM/yyyy")</h4>
    

    
<div class="row">
    <table class="table table-responsive">
        <tbody>
            <tr>
                <td></td>
                <td>
                    <p><li>Cliente: @Html.DisplayFor(model => model.Customer.Name) @Html.DisplayFor(model => model.Customer.SurName)</li></p>
                    <p><li>Teléfono: @Html.DisplayFor(model => model.Customer.CellPhone)</li></p>
                    
                </td>                
                <td>
                    <p>
                        <li>Dirección: @{
                                        foreach (Address addr in Model.Customer.Addresses)
                                        {
                                            
                                                @if(addr.IsMain == true)
                                                {
                                                    @Html.DisplayFor(modelItem => addr.Description)
                                                }
                                           
                                        }
                                    }
                        </li>
                    </p>
                </td>                                         
            </tr>
        </tbody>
    </table>

    <table class="table table-responsive">
        <tbody>
            <tr>
                <td></td>
                <td>
                    <p><li>@Html.DisplayNameFor(model => model.CreationDate):  @Html.DisplayFor(model => model.CreationDate)</li></p>
                    <p><li>@Html.DisplayNameFor(model => model.DateFrom):  @Html.DisplayFor(model => model.DateFrom)</li></p>
                    <p><li>@Html.DisplayNameFor(model => model.DateTo): @Html.DisplayFor(model => model.DateTo)</li></p>
                    <p><li>@Html.DisplayNameFor(model => model.LoanType.InstallmentsAmount): @Html.DisplayFor(model => model.LoanType.InstallmentsAmount)</li></p>
                </td>
                <td>
                    <p><li>@Html.DisplayNameFor(model => model.TotalAmmount): @Html.DisplayFor(model => model.TotalAmmount)</li></p>
                    <p><li>@Html.DisplayNameFor(model => model.LoanStatus): @Html.DisplayFor(model => model.LoanStatus)</li></p>
                    <p><li>@Html.DisplayNameFor(model => model.LoanType.InterestPercentage): @Html.DisplayFor(model => model.LoanType.InterestPercentage)</li></p>
                    <p><li>A Cobrar: @ViewBag.LoanTotalAmountWithInterest </li></p>
                </td>
                <td></td>                                         
            </tr>
        </tbody>
    </table>
    
</div>

 <hr /> 

<div class="col-md-12">
            <div class="container">
                
                    <div>
                        <h3>Calendario</h3>
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Cuota Nro.</th>
                                    <th scope="col">Estado de la cuota</th>                                   
                                    <th scope="col">Fecha de vencimiento</th>
                                    <th scope="col">Monto a pagar</th>
                                    <th scope="col">Pago</th>
                                </tr>
                            </thead>
                             
                            <tbody>
                            @{
                                if(Model.Installments != null)  
                                {  
                                    @foreach (var item in (List<MvcPicashNetCore.Models.Installment>) @Model.Installments) 
                                    {
                                        <tr>
                                            <th scope="row">@item.InstallmentNumber</th>
                                            <td>@item.InstallmentStatus</td>                                           
                                            <td>@item.Duedate.ToString("dd/MM/yyyy")</td>
                                            <td>@String.Format("{0:C}", @item.Amount)</td>
                                            <td>@String.Format("{0:C}", @item.PaymentAmount)</td>
                                        </tr>
                                    }
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                
            </div>
        </div>    

 <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Crediflash - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>