@model MvcPicashNetCore.Models.CollectionWeek

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CollectionWeek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuesday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuesday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wednesday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wednesday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thursday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thursday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Friday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Friday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saturday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saturday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sunday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sunday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Holiday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Holiday)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CollectionWeekId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
