@model IEnumerable<MvcPicashNetCore.Models.CollectionWeek>

@{
    ViewData["Title"] = "Index";
}

<h1>Semanas de Cobranza</h1>

<p>
    <a asp-action="Create">Crear Nueva Semana de Cobranza</a>
</p>
<div class="table-responsive text-nowrap">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tuesday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wednesday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thursday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Friday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saturday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sunday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Holiday)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuesday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wednesday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thursday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Friday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saturday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sunday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Holiday)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CollectionWeekId"><img src="~/images/edit.svg" alt="Crediflash" class="img-responsive img-sm" style="width:16px;height:16px;" /></a> |
                <a asp-action="Details" asp-route-id="@item.CollectionWeekId"><img src="~/images/details.svg" alt="Crediflash" class="img-responsive img-sm" style="width:16px;height:16px;" /></a> |
                <a asp-action="Delete" asp-route-id="@item.CollectionWeekId"><img src="~/images/delete.svg" alt="Crediflash" class="img-responsive img-sm" style="width:16px;height:16px;" /></a> |
                <a asp-action="ViewAsPDF" asp-route-id="@item.CollectionWeekId" target="blank"><img src="~/images/print.svg" alt="Crediflash" class="img-responsive img-sm" style="width:16px;height:16px;" /></a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
</div>