@model IEnumerable<MvcPicashNetCore.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Crear Nuevo Cliente.</a>
</p>


@using(Html.BeginForm(null, null, FormMethod.Get))
{
    <fieldset>
        
        @Html.Label("route", "Ruta:")
        @Html.DropDownList("routeId", (SelectList) ViewData["RouteId"], "Todos")

        @Html.Label("Nombre", "Nombre")
        @Html.TextBox("SearchString", ViewData["SearchString"], new { type = "text" })

        <!-- @Html.Label("maxHijos", "Hijos máx:")
        @Html.TextBox("maxHijos" ) -->
 
        <input type="image" value="Buscar"  src="~/images/search.svg" alt="Crediflash" class="img-responsive img-sm" style="width:26px;height:26px;"/>
    </fieldset>
}


<div class="table-responsive text-nowrap">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.CellPhone)
            </th>            
            <th>
                Dirección Ppal.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route.Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.CellPhone)
            </td>           
            <td>
            @{
                foreach (Address addr in item.Addresses.Where(a => a.IsMain == true))
                {
                    <table class="table ">
                        @if(addr.IsMain == true)
                         {
                             <!-- <tr><td>@Html.DisplayFor(modelItem => addr.IsMain)</td> -->
                             <!-- <td> -->
                             @Html.DisplayFor(modelItem => addr.Description)
                            <!-- </td> -->
                             <!-- </tr> -->
                         }
                    </table>
                }
            }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId"><img src="~/images/edit.svg" alt="Crediflash" class="img-responsive img-sm" style="width:16px;height:16px;" /></a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId"><img src="~/images/details.svg" alt="Crediflash" class="img-responsive img-sm" style="width:16px;height:16px;" /></a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId"><img src="~/images/delete.svg" alt="Crediflash" class="img-responsive img-sm" style="width:16px;height:16px;" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>